<html lang="en">
    <%- include('./partials/head.ejs') %>
<body class="oops">
  <div>
    <%- include('./partials/nav.ejs') %>
  
    <p>Oops Page Not Found <span>🔭</span> </p>
   
  </div>
</body>
</html>

