<html lang="en">
<%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs') %>
   
    <h1>Hello Ismail friends</h1>
   <p>Im About Page</p>
   <button>Im Click Me to home</button>
   <%- include('./partials/footer') %>
</body>
</html>

