<html lang="en">
    <%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs') %>
    <h1>Hello Ismail friends</h1>
   <p>Im from the button they told you to fench</p>
   <button>Im the button the told you to fetch</button>
   <%- include('./partials/footer') %>
</body>
</html>

